@page
@model IndexModel
@{
    ViewData["Title"] = "Light Sensor Web App";
}

<div class="text-center">
    <h1 class="display-4">Last Light Bulb Sensor Value</h1>
    <p></p>
    <iframe width="100%" height="750px" src="https://lightbulbtiggerfunction.azurewebsites.net/api/lightsensordata/">
</div>
