@page
@model IndexModel
@{
    ViewData["Title"] = "Light Sensor Web App";
}

<div class="text-center">
    <h1 class="display-4">Last Light Bulb Sensor Value</h1>
    <p></p>
    <pre><code width="100%" onload="SyntaxHighlighter.all();" height="750px"  id="json"></code></pre>
</div>
